@import "../general/colors";


.AutoSuggest {
    margin: 0 1rem;
}

.SearchBox {
    padding: .5rem 1rem;
    width: 200px;
    border: 0;
}

.DropDown {
    z-index: 2;
    background: #fff;
    border: 1px solid #ddd;
    color: #000;

    div {
        line-height: 2rem;
    }
}

