

.Layout {
    display: flex;
    flex: 1;
    position: relative;
}

// vertically stacked
.rows {
    flex-direction: column;
    height: 100%;
    min-height: 100%;
}

// left to right
.columns {
    flex-direction: row;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
}

.rows > .Fixed {
    width: 100%;
}

.columns > .Fixed {
    height: 100%;
}

.rows > .Flex {
}

.columns > .Flex {
    height: 100%;
}

// flexible content area
.Flex {
    flex: 1;
}
