@import "../general/colors";


.Sidebar {

    //width: 180px;
    //background-image: linear-gradient(right ,#444444 0% ,#2d2d2d 100%);
    background: @black;
    width: 4rem;


    //
    .Fixed {
        padding: 1rem;
        color: #777;
        font-size: 3rem;

        &:hover {
            color: @white;
        }
    }

}

//
//.Sidebar {
//    @narrow: ~"screen and (max-width: 1440px)";
//    @media @narrow {
//        width: 48px;
//    }
//}

