@import "../general/colors";


.Sidebar {

    width: 12rem;
//    background-image: linear-gradient(right ,#444444 0% ,#2d2d2d 100%);
    background: @black;
//    width: 4rem;
    transition: width .1s;//, margin 3s;

    ul,li {
        list-style: none;
        padding: 0;
    }

    //
    .Fixed {
        padding: 1rem;
        color: #777;
        font-size: 1rem;

        &:hover {
            color: @white;
        }
    }

}


.Sidebar {
    @narrow: ~"screen and (max-width: 1440px)";
    @media @narrow {

        width: 4rem;
        transition: width .1s;//, margin 3s;

        li {
            color: red;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

