@import "../general/colors";
@import "../general/misc";


.TabPane.vertical {

    .Tabs {
        width: 4rem;
    }

    .Tab {
        border-bottom: 1px solid #fff;
        text-align: center;
    }

    .my-tabs {
        padding: 1rem;
        border-left: 4px solid @dark-gray;
    }

    @media @narrow {
        .Tab {
            width: 2rem;
        }
    }
}


.TabPane.horizontal {

    .Tab {
        border-right: 1px solid #fff;
        width: 8rem;
        text-align: center;
    }

    .my-tabs {
        padding: 1rem;
        border-top: 4px solid @dark-gray;
    }

    @media @narrow {
        .Tab {
            width: 2rem;
        }
    }
}



.Tab {
    line-height: 4rem;
    background: #eee;
}

.Tab.active {
    background: @dark-gray;
    color: @white;
}

